@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .spinner {
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    .html-indicator .htmx-request {
        opacity: 1;
    }

    .html-indicator.htmx-request {
        opacity: 1;
    }
}

.htmx-request {
    cursor: not-allowed;
    opacity: 50%;
}