{% if arrow == "▲" %}
<div id="info_panel_down" class="absolute h-12 w-full md:w-[500px] bg-white z-10 bottom-0 rounded-lg"
    hx-on:click="info_panel_up()">
    {% else %}
    <div id="info_panel_up" class="absolute w-full h-2/5 md:w-[500px] bg-white z-10 bottom-0 rounded-lg"
        hx-get="/info_panel/down" hx-target="#info">
        {% endif %}
        <img id="spinner" class="htmx-indicator z-30 bottom-8 mx-auto inset-x-0" src="/pub/bars.svg" />
        <div class="w-full h-7 justify-center flex cursor-pointer">
            <div class="uppercase font-bold">Contributions dans cette zone</div>
            <div class="absolute right-2">
                {{ arrow }}
            </div>
        </div>
        <div class="overflow-auto h-full">
            <hr>
            {% for contribution in contributions %}
            {{contribution}}
            {% endfor %}
        </div>
        {% if arrow == "▼" %}
    </div>
    {% else %}
</div>
{% endif %}
<script>
    async function info_panel_up() {
        const bounds = map.getBounds();
        htmx.ajax("GET", "/info_panel/up/" + bounds._sw.lng + "/" + bounds._sw.lat + "/" + bounds._ne.lng + "/" + bounds._ne.lat, "#info");
    }
</script>