<div data-score-id="{{score_id}}" class="flex cursor-pointer mb-2 mt-1" hx-get="/segment_panel/id/{{score_id}}" hx-target="#info"
     onclick="zoomToSegment(this.getAttribute('data-score-id'));event.stopPropagation();">
     {{ score_circle }}
     <div class="content-start w-full">
          {% match photo_path_thumbnail %}
               {% when Some with (photo_path_thumbnail) %}
               <img class="w-8 h-8 rounded-full" src="{{ photo_path_thumbnail }}" alt="photo">
               {% when None %}
          {% endmatch %}
          <div class="flex flex-row justify-between">
               <div class="text-xs"> {{ created_at}} </div>
               <div class="text-xs mr-2"> {{ timeago }} </div>
          </div>
          <div class="font-bold text-sm">{{ name }}</div>
          <div class="text-sm text-gray-600">{{ comment }}</div>
     </div>
</div>
<hr>