{% if direction == "up" %}
<div id="info_panel" class="absolute h-12 w-full md:w-[500px] bg-white z-10 bottom-0 rounded-lg" hx-on:click="clear()">
    {% else %}
    <div id="info_panel" class="absolute w-full h-2/5 md:w-[500px] bg-white z-10 bottom-0 rounded-lg" hx-get="/info_panel/{{direction}}"
    hx-target="#info">
    <div id="info_panel_up"></div>
        {% endif %}
        <img id="spinner" class="htmx-indicator z-30 bottom-8 mx-auto inset-x-0" src="/pub/bars.svg" />
        <div class="w-full h-7 justify-center flex cursor-pointer">
            <div class="uppercase font-bold">Contributions dans cette zone</div>
            <div class="absolute right-2">
                {{ arrow }}
            </div>
        </div>
        <div class="overflow-auto h-full">
            <hr>
            {% for contribution in contributions %}
            {{contribution}}
            {% endfor %}
        </div>
        {% if direction == "up" %}
    </div>
    {% else %}
</div>
{% endif %}