<div id="menu">
    <div class="absolute top-2 left-2 z-10 flex flex-col">
    {% if open == true %}
        <img src="/pub/menu.png" id="menu-icon" class="h-6 w-6 cursor-pointer"
            hx-get="/menu/closed" hx-target="#menu" hx-swap="outerHTML" />
        <div class="flex flex-col bg-white p-2 rounded-md">
            <a href="https://www.openstreetmap.org/edit#map=20/45.51849/-73.57194" 
                class="flex" 
                target="_blank">
                <img src="/pub/osm.svg" alt="osm" 
                    class="h-4 mr-2">
                Editer sur OpenStreetMap
            </a>
        </div>
    {% else %}
        <img src="/pub/menu.png" id="menu-icon" class="h-6 w-6 cursor-pointer"
            hx-get="/menu/open" hx-target="#menu" hx-swap="outerHTML" />
    {% endif %}
    </div>
</div>