<div popover id="photo_scroll_inner" class="h-full max-w-full flex items-center justify-center z-40"
    hx-on:click="event.stopPropagation()">
    {% match previous %}
    {% when Some with (previous) %}
    <button class="absolute bottom-0 left-0 text-2xl bg-opacity-50 bg-white p-8 z-50"
        hx-get="/photo_scroll/{{previous}}/{{way_ids}}" hx-target="#photo_scroll_inner">&lt;</button>
    {% when None %}
    {% endmatch %}
    {% match next %}
    {% when Some with (next) %}
    <button class="absolute bottom-0 right-0 text-2xl bg-opacity-50 bg-white p-8 z-50"
        hx-get="/photo_scroll/{{next}}/{{way_ids}}" hx-target="#photo_scroll_inner">&gt;</button>
    {% when None %}
    {% endmatch %}
    <img src="/images/{{ photo }}.jpeg" class="object-contain max-h-full max-w-full" alt="photo"
        style="height: 100%; width: auto;">
    <button class="absolute top-0 right-0 text-2xl bg-opacity-50 bg-white p-8 z-40"
        hx-on:click="closePopover()">X</button>
</div>

<script>
    // because of a bug on safari
    var popover = document.getElementById('photo_scroll_inner');
    document.body.appendChild(popover);

    function closePopover() {
        var popover = document.getElementById('photo_scroll_inner');
        popover.remove();
    }
</script>