{% let class = " cursor-pointer w-48 h-8 text-center rounded " %}
{% let border_class = " border-4 border-black " %}
{% let text = ["impossible", "10% des cyclistes sont à l'aise", "50% des cyclistes sont à l'aise",
"90% des cyclistes sont à l'aise", "Bon pour les débutants"] %}
{% let color = ["red-600", "orange-600", "yellow-400", "green-400", "green-700"] %}

<div id="score_selector" class="m-2">
    <div class="font-bold">Confort :</div>
    {% if category == 0 %}
    <div class="bg-red-600 {{class}} {{border_class}}">
        impossible
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0" class="bg-red-600 {{class}}">
        impossible
    </div>
    {% endif %}
    {% if category == 1 %}
    <div class="bg-orange-600 {{class}} {{border_class}}">
        10% des cyclistes sont à l'aise
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0.25" class="bg-orange-600 {{class}}">
        10% des cyclistes sont à l'aise
    </div>
    {% endif %}
    {% if category == 2 %}
    <div class="bg-yellow-400 {{class}} {{border_class}}">
        50% des cyclistes sont à l'aise
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0.5" class="bg-yellow-400 {{class}}">
        50% des cyclistes sont à l'aise
    </div>
    {% endif %}
    {% if category == 3 %}
    <div class="bg-green-400 {{class}} {{border_class}}">
        90% des cyclistes sont à l'aise
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0.75" class="bg-green-400 {{class}}">
        90% des cyclistes sont à l'aise
    </div>
    {% endif %}
    {% if category == 4 %}
    <div class="bg-green-700 {{class}} {{border_class}}">
        Bon pour les débutants
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/1.0" class="bg-green-700 {{class}}">
        Bon pour les débutants
    </div>
    {% endif %}
    <input type="hidden" name="score" value="{{score}}">
</div>
