{% let class = "h-8 w-8 rounded-full " %}
{% let border_class = " border-4 border-black " %}

<div id="score_selector" class="m-2">
    <div class="font-bold">Confort :</div>
    {% if category == Category::Good %}
    <div class="flex flex-row cursor-pointer">
        <div class="bg-green-900 {{class}} {{border_class}}"></div>
        <div class="m-2 align-middle">
            État normal
        </div>
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/1" class="flex flex-row cursor-pointer">
        <div class="bg-green-900 {{class}}">
        </div>
        <div class="m-2 align-middle">
            État normal
        </div>
    </div>
    {% endif %}
    {% if category == Category::Problems %}
    <div class="flex flex-row cursor-pointer">
        <div class="bg-yellow-500 {{class}} {{border_class}}"></div>
        <div class="m-2 align-middle">
            Problème mineur (ex: cohabitation avec voitures problématique)
        </div>
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0.66" class="flex flex-row cursor-pointer">
        <div class="bg-yellow-500 {{class}}">
        </div>
        <div class="m-2 align-middle">
            Problème mineur (ex: cohabitation avec voitures problématique)
        </div>
    </div>
    {% endif %}
    {% if category == Category::Dangerous %}
    <div class="flex flex-row cursor-pointer">
        <div class="bg-orange-600 {{class}} {{border_class}}"></div>
        <div class="m-2 align-middle">
            Piste dangeureuse (ex: piste cyclable en très mauvais état)
        </div>
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0.33" class="flex flex-row cursor-pointer">
        <div class="bg-orange-600 {{class}}">
        </div>
        <div class="m-2 align-middle">
            Piste dangeureuse (ex: piste cyclable en très mauvais état)
        </div>
    </div>
    {% endif %}
    {% if category == Category::Closed %}
    <div class="flex flex-row cursor-pointer">
        <div class="bg-red-800 {{class}} {{border_class}}">
        </div>
        <div class="m-2 align-middle">
            Fermé (ex: travaux ou neige)
        </div>
    </div>
    {% else %}
    <div hx-target="#score_selector" hx-get="/score_selector/0" class="flex flex-row cursor-pointer">
        <div class="bg-red-800 {{class}}">
        </div>
        <div class="m-2 align-middle">
            Fermé (ex: travaux ou neige)
        </div>
    </div>
    {% endif %}
    <input type="hidden" name="score" value="{{score}}">
</div>