<div class="absolute top-4 z-10 flex justify-center" hx-on:click="clearResult()">
    <form class="" hx-post="/search" hx-target="#search" hx-trigger="input throttle:1s">
        <input class="w-52 h-8 rounded-lg outline outline-gray-800 text-center" id="query" name="query" type="text"
            name="query" placeholder="Rechercher une adresse" value="{{query}}" autofocus />
        <input type="hidden" name="lng" value="{{lng}}">
        <input type="hidden" name="lat" value="{{lat}}">
        <div id="search_results" class="bg-white">
            {% for search_result in search_results %}
            <div hx-on:click="showSearchResult({{search_result.lng}}, {{search_result.lat}})" class="cursor-pointer">
                {{ search_result.street }}, {{ search_result.city }}
                <br>
            </div>
            {% endfor %}
        </div>
    </form>
</div>


<script>
    if (updateSearchLatLngId)
        clearTimeout(updateSearchLatLngId);

    lng = document.querySelector("input[name=lng]");
    lat = document.querySelector("input[name=lat]");
    lng.value = map.getCenter().lng;
    lat.value = map.getCenter().lat;
    var updateSearchLatLngId = setInterval(() => {
        lng = document.querySelector("input[name=lng]");
        lat = document.querySelector("input[name=lat]");
        lng.value = map.getCenter().lng;
        lat.value = map.getCenter().lat;
    }, 2000);

    function showSearchResult(lng, lat) {
        clearResult();
        if (start_marker) {
            start_marker.remove();
        }
        start_marker = new maplibregl.Marker({ color: "#00f" }).setLngLat([lng, lat]).addTo(map);
        map.flyTo({
            center: [lng, lat],
        });
    }

    function clearResult() {
        const search_results = document.getElementById("search_results");
        search_results.innerHTML = "";
    }
</script>