<div class="absolute top-4 z-10 flex justify-center">
    <form class="">
        <input class="w-52 h-8 rounded-lg outline outline-gray-800 text-center" id="query" name="query" type="text"
            name="query" placeholder="Rechercher une adresse" value="{{query}}" autofocus hx-on:keyup="search()"
            hx-on:click="displayHistory()" hx-on:focusout="clearResult()" />
        <input type="hidden" name="lng" value="{{lng}}">
        <input type="hidden" name="lat" value="{{lat}}">
        <div id="search_results" class="bg-white flex flex-col justify-center">
        </div>
    </form>
</div>


<script>
    function displayHistory() {
        let query = document.querySelector("#query");
        if (query.value === "") { // Vérifier si le champ de recherche est vide
            let recentTargets = JSON.parse(localStorage.getItem('recentTargets')) || [];
            let searchResults = document.querySelector("#search_results");
            searchResults.innerHTML = ""; // Effacer les résultats de recherche existants
            for (let target of recentTargets) {
                let div = document.createElement("div");
                div.innerHTML = target;
                searchResults.appendChild(div);
            }
            htmx.process(searchResults);
        }
    }


    function search() {
        lng = map.getCenter().lng;
        lat = map.getCenter().lat;
        htmx.ajax('POST', '/search', { target: "#search_results", values: { query: query.value, lng: lng, lat: lat } });
    }

    function showSearchResult(lng, lat, event) {
        // Stocker la cible dans le localStorage
        let recentTargets = JSON.parse(localStorage.getItem('recentTargets')) || [];
        let target = event.target.outerHTML;

        // Vérifier si la cible existe déjà dans la liste
        let index = recentTargets.indexOf(target);
        if (index !== -1) {
            // Si oui, supprimer l'ancienne cible de la liste
            recentTargets.splice(index, 1);
        } else if (recentTargets.length >= 10) {
            // Si la liste est pleine et que la cible n'est pas déjà dans la liste, supprimer le plus ancien élément
            recentTargets.pop();
        }

        // Ajouter la nouvelle cible au début de la liste
        recentTargets.unshift(target);
        localStorage.setItem('recentTargets', JSON.stringify(recentTargets));

        if (start_marker) {
            start_marker.remove();
        }
        start_marker = new maplibregl.Marker({ color: "#00f" }).setLngLat([lng, lat]).addTo(map);


        htmx.ajax('GET', '/point_panel_lng_lat/' + lng + "/" + lat, "#info");
        map.flyTo({
            center: [lng, lat],
        });
    }

    function clearResult() {
        setTimeout(() => {
            document.getElementById("search_results").innerHTML = "";
            document.getElementById("query").value = "";
        }, 250);
    }

</script>