<div class="absolute top-4 z-10 flex justify-center" hx-on:click="clearResult()">
    <form class="" hx-post="/search" hx-target="#search_results" hx-trigger="input delay:.5s" onsubmit="return false">
        <input class="w-52 h-8 rounded-lg outline outline-gray-800 text-center" id="query" name="query" type="text"
            name="query" placeholder="Rechercher une adresse" value="{{query}}" autofocus />
        <input type="hidden" name="lng" value="{{lng}}">
        <input type="hidden" name="lat" value="{{lat}}">
        <div id="search_results" class="bg-white flex flex-col justify-center">
        </div>
    </form>
</div>


<script>
    if (updateSearchLatLngId)
        clearTimeout(updateSearchLatLngId);

    lng = document.querySelector("input[name=lng]");
    lat = document.querySelector("input[name=lat]");
    lng.value = map.getCenter().lng;
    lat.value = map.getCenter().lat;
    var updateSearchLatLngId = setInterval(() => {
        lng = document.querySelector("input[name=lng]");
        lat = document.querySelector("input[name=lat]");
        lng.value = map.getCenter().lng;
        lat.value = map.getCenter().lat;
    }, 2000);
    document.addEventListener("click", clearResult);

    function showSearchResult(lng, lat) {
        clearResult();

        if (start_marker) {
            start_marker.remove();
        }
        start_marker = new maplibregl.Marker({ color: "#00f" }).setLngLat([lng, lat]).addTo(map);

        htmx.ajax('GET', '/point_panel_lng_lat/' + lng + "/" + lat, "#info");
        map.flyTo({
            center: [lng, lat],
        });
    }

    function clearResult() {
        document.getElementById("search_results").innerHTML = "";
        document.getElementById("query").value = "";
    }

</script>