<div id="segment_panel" class="absolute bottom-6 right-1 z-10">
    {% if status == "segment" %}
    <div class="bg-gray-100 p-2 rounded-xl shadow-lg">
        <div hx-on:click="clear()" 
            class="absolute right-2 cursor-pointer">
            X
        </div>
        <div class="mt-4">
            {{ segment_name }}
            {{score_selector}}
            
            {% if edit %}
                <label for="comment">Commentaire</label>
                <input type="text" name="comment">
                {{comment}}
                </input>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
 {{ info_panel_template }}
