<div id="segment_panel" class="absolute bottom-1 right-1 z-10">
    {% if status == "segment" %}
    <div class="bg-gray-100 p-2 rounded-xl shadow-lg">
        <div hx-on:click="clear()" 
            class="absolute right-2 cursor-pointer">
            X
        </div>
        <div class="mt-4">
            {{ segment_name }}
            <div>
                <select id="select_score" name="score" class="bg-white m-2" hx-post="/segment_panel/{{way_ids}}"
                    hx-target="#segment_panel" hx-swap="outerHTML" hx-on:change="reset()">
                    {{options}}
                </select>
            </div>
            <input type="text" height="2">
                {{comment}}
            <input/>
        </div>
    </div>
    {% endif %}
</div>